{% extends "templates/web.html" %}

{% block title %} Supplier Portal {% endblock %}

{% block page_content %}


<nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">My Details</a>
    <a class="nav-link" href="#">Orders</a>
    <a class="nav-link" href="#">Requests for Quotation</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ask Procurement(New)</a>
</nav>

<div>
    <h1>
        <em>No content available</em>
    </h1>
</div>
{% endblock %}